{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "linebreak-style": 0,
    "react/jsx-filename-extension": 0,
    "strict": 0,
    "comma-dangle": ["error", "never"],
    "jsx-quotes": [2, "prefer-single"],
    "react/prefer-stateless-function": 0,
    "react/require-extension": "off",
    "max-len": ["error", 120],
    "no-console": ["error", { "allow": ["warn", "error"] }]
  }
}
