{
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": 0,
    "strict": 0,
    "comma-dangle": ["error", "never"],
    "jsx-quotes": [2, "prefer-single"],
    "react/prefer-stateless-function": 0
  },
  "globals": {
    "document": false,
    "fetch": false
  }
}
