.preview {
  z-index: 100;
}
.preview-enter {
  opacity: 0;
}
.preview-enter.preview-enter-active {
  opacity: 1;
  transition: opacity 200ms linear;
}
.preview-leave {
  opacity: 1;
}
.preview-leave.preview-leave-active {
  opacity: 0;
  transition: opacity 50ms linear;
}