.chat {
  .message {
    @avatar-size: 40px;
    .clearfix();
    padding: 4px @edge-padding;
    .avatar {
      float: left;
    }
    .id span {
      color: @blue700;
      cursor: pointer;
      font-weight: 500;
    }
    .right {
      float: right;
    }
    .time {
      color: @secondary-text;
    }
    .text {
      overflow-wrap: break-word;
      white-space: pre-line;
      .strong {
        font-weight: bold;
      }
      .emph {
        font-style: italic;
      }
      .strike {
        text-decoration: line-through;
      }
      .spoiler {
        background-color: @grey800;
        &, a {
          color: @grey800;
        }
        &:hover {
          color: white;
          a {
            color: white;
          }
        }
      }
    }
    .id, .text, .attachment {
      margin-left: @avatar-size + @edge-padding;
    }
    .attachment {
      padding: 4px 0;
      img {
        display: block;
        border-radius: 4px;
        cursor: pointer;
        max-width: 100%;
      }
    }
    &.selected {
      &, .id span, .time, a {
        color: white;
      }
      background-color: @blue500;
    }
  }
}
