.header {
  .topic, .online {
    text-align: center;
    margin-left: 64px;
  }
  .topic {
    font-weight: 400;
    padding-top: 8px;
  }
  .online {
    color: @hint-text;
  }
  .IconMenuWrapper {
    float: right;
    margin-top: 4px;
    margin-right: -16px;
  }
}
.ToggleWrapper > div {
  padding: 12px 0;
}
