.header {
  .topic, .online {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
  }
  .topic {
    font-weight: 500;
    top: 12px;
    color: white;
    .dark & {
      color: @darkWhite;
    }
  }
  .online {
    color: @lightWhite;
    top: 12px + 20px;
  }
}
.playlist-mode-switch, .chat-mode-switch {
  z-index: 1;
  @media @desktop {
    display: none !important;
  }
}
