.player {
  position: relative;
  z-index: 0;
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  &.overlay {
    background-color: rgba(255, 255, 255, 0.7);
  }
  .dark & {
    background-color: @grey900;
    &.overlay {
      background-color: rgba(0, 0, 0, 0.9);
    }
  }
}
.player-enter {
  position: relative;
  top: -90px;
  transition: top 200ms linear;
}
.player-enter.player-enter-active {
  top: 0;
}
.player-leave {
  position: relative;
  top: 0;
}
.player-leave.player-leave-active {
  top: -90px;
  transition: top 200ms linear;
}
