.playlist-item {
  cursor: pointer;
  display: flex;
  > div {
    padding: 8px 0;
  }
  &:first-child {
    padding-top: 8px;
    > div {
      border-top: none !important;
    }
  }
  .playlist-item-left {
    flex: 0 0 64px;
    padding: 8px 16px;
  }
  .playlist-item-center {
    flex: 1;

  }
  .playlist-item-right {
    flex: 0 0 40px;
    text-align: right;
    padding: 8px 16px;
  }
  .playlist-item-center, .playlist-item-right {
    border-top: @border;
    .dark & {
      border-top: @border-dark;
    }
  }
  img {
    display: block;
    border-radius: 50%;
  }
  .image-placeholder {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: @grey500;
  }
  .duration, .tags, .rating {
    color: @lightBlack;
    .dark & {
      color: @lightWhite;
    }
  }
  &.selected {
    background-color: @blueGrey200;
    .dark & {
      background-color: rgba(255,87,34,0.8); // deepOrange500
    }
  }
  &.selected, &.selected + & {
    > div {
      border-top-color: transparent;
    }
  }
}
